In [13]:
import re
import numpy as np
import pandas as pd
import unicodecsv as csv
import itertools

# Analysize variables.

In [3]:
# Read documentation.
columns_file = r"../records_documentation.txt"

with open(columns_file,"r") as f:
    columns = f.readlines()
columns

['[Column 0] ID\n',
 '[Column 1] Birth year: deduced from education history, where available\n',
 '[Column 2] Gender flag: 1=female, 2=male, 0=unknown\n',
 '[Column 3] Skillset1: primary skillset deduced from self-reported skills\n',
 '[Column 4] Skillset1 weight: the extent to which primary skillset is representative of overall self-reported skills\n',
 '[Column 5] Skillset2: secondary skillset deduced from self-reported skills\n',
 '[Column 6] Skillset2 weight: the extent to which secondary skillset is representative of overall self-reported skills\n',
 '[Column 7] City of profile (does not change): where unavailable, the field is left blank\n',
 '[Column 8] Country of Profile (does not change)\n',
 '[Column 9] Education (highest degree attained): 0=none/unknown; 1=high school; 2=vocational degree; 3=associateÕs; 4=bachelorÕs; 5=masterÕs other than MBA; 6=MBA; 7=doctorate (PhD/JD/MD) [NB: Romanian names not covered]\n',
 "[Column 10] Elite institution: a flag indicating whether any of the person's main degrees came from an elite (top 100) institution [NB: Romanian names not covered]\n",
 '[Column 11] Start date\n',
 '[Column 12] Flag: Is the start month valid?\n',
 '[Column 13] End date\n',
 '[Column 14] Flag: Is the end month valid?\n',
 '[Column 15] Flag: Is this their current employment?\n',
 '[Column 16] Length: length of time spent at the given job (days)\n',
 '[Column 17] Role: the self-reported job role, followed by the normalized job title (the two are separated by a comma) [NB: Romanian names not covered]\n',
 "[Column 18] Department: the self-reported job role, followed by the associated department, if it's possible to tell (the two are separated by a comma) [NB: Romanian names not covered]\n",
 '[Column 19] Company name\n',
 '[Column 20] Normalized company name: accounts for things like subsidiaries, etc.\n',
 '[Column 21] Ticker: also included are tickers for private company, where available from sources like Bloomberg (not that good; but the public company ones, coming from exchanges, are pretty comprehensive); for things like universities, government jobs, etc. these are demarcated accordingly (e.g., FREELANCE is the ticker for self-employed)\n',
 '[Column 22] Exchange: for disambiguated private companies or hard-coded roles, itÕs just the country location\n',
 '[Column 23] Flag for whether the firm is publicly traded\n',
 '[Column 24] Location of Employment\n',
 '[Column 25] Industry (NAICS)\n',
 '[Column 26] Education flag: True=this entry reflects an education record; False=employment record\n',
 "[Column 27] Degree type: 0=none/unknown; 1=high school; 2=vocational degree; 3=associateÕs; 4=bachelorÕs; 5=masterÕs other than MBA; 6=MBA; 7=doctorate (PhD/JD/MD); empty if it's not an education record [NB: Romanian names not covered]\n",
 '[Column 28] Elite flag: True=education record from an elite (top 100) institution; False=not an education record, or education record from a non-elite institution [NB: Romanian names not covered]\n']

So:
- Unique identifier: ID.
- Variable Groups:
    - Column 0-10, profile info; 
    - Column 11-28, employment or education info; (c26 = False or True)
        - Column 11-18, general info;
        - Column 19-25, company info;
        - Column 27-28, school info.

In [4]:
# Get unique values for each variable.
empl_file = r"../deloitte_pwc.csv"

unique_values = []
for i in range(33):
    unique_values.append(set())
with open(empl_file,"rb") as f:
    reader = csv.reader(f,encoding='utf-8',escapechar='',delimiter='\t')
    for idx, line in enumerate(reader):
        for i in range(33):
            unique_values[i].add(line[i])
for idx, values in enumerate(unique_values):
    print("[Column {}] ".format(idx)+str(len(values)))

[Column 0] 1095185
[Column 1] 84
[Column 2] 3
[Column 3] 45
[Column 4] 390501
[Column 5] 45
[Column 6] 390503
[Column 7] 16127
[Column 8] 258
[Column 9] 8
[Column 10] 2
[Column 11] 849
[Column 12] 3
[Column 13] 763
[Column 14] 3
[Column 15] 2
[Column 16] 3246
[Column 17] 2640332
[Column 18] 865
[Column 19] 1767657
[Column 20] 1557541
[Column 21] 10261
[Column 22] 309
[Column 23] 2
[Column 24] 204454
[Column 25] 739
[Column 26] 2
[Column 27] 8
[Column 28] 2
[Column 29] 1469
[Column 30] 68
[Column 31] 7835
[Column 32] 1003970

In [45]:
# One block to convert data to pd.DataFrame.
empl_file = r"../deloitte_pwc.csv"

entries_lst = []
with open(empl_file,"rb") as f:
    reader = csv.reader(f,encoding='utf-8',escapechar='',delimiter='\t')
    for idx, line in enumerate(reader):
        entries_lst.append(line)
        if idx == 100:
            break

samples_lst = entries_lst
entries_df = pd.DataFrame(data=entries_lst)
entries_df

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,,,True,5,False,,,,1525765406000
1,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,,,True,,False,,,,1525765406000
2,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,,,False,,False,,,,1525765406000
3,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,,54,False,,False,,,,1525765406000
4,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,"paris area, france",54,False,,False,,,,1525765406000
5,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,"paris area, france",48,False,,False,,,,1525765406000
6,ed3c50a8-d2d3-3809-9d2a-0f53574560aa,1980,2,Accounting and Auditing,0.9292892909340925,Industrial Management,0.00825650305491638,Paris,France,5,...,False,"paris area, france",92,False,,False,,,,1525765406000
7,c8f59145-e5e3-39ba-aadc-e076e6390b28,2000,2,-1,0,-1,0,Hasselt,Belgium,0,...,False,,561,False,,False,,,,1527648032000
8,c8f59145-e5e3-39ba-aadc-e076e6390b28,2000,2,-1,0,-1,0,Hasselt,Belgium,0,...,False,,54,False,,False,,,,1527648032000
9,c8f59145-e5e3-39ba-aadc-e076e6390b28,2000,2,-1,0,-1,0,Hasselt,Belgium,0,...,False,"hyderabad area, india",561,False,,False,,,,1527648032000
10,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,,True,4,False,,,,1524958662000
11,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,True,,336111,False,,False,,,BBG000CCW1K9,1524958662000
12,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,,False,,False,,,,1524958662000
13,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,,True,,False,,,,1524958662000
14,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,,True,5,False,management,Social Sciences,,1524958662000
15,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,,True,4,False,,,,1524958662000
16,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,54,False,,False,,,,1524958662000
17,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,54,False,,False,,,,1524958662000
18,1e6c51a5-ac94-3c70-a7a5-b096a52399f5,1984,2,Middle Management,0.38026957571496384,Business Development,0.33821329148617374,Frankfurt am Main,Germany,5,...,False,,54,False,,False,,,,1524958662000
19,1c4f3f4f-cc88-39b6-941c-c39e959483dd,2000,1,-1,0,-1,0,London,United Kingdom,0,...,True,,51,False,,False,,,BBG0074NSG94,1531325778000
20,1c4f3f4f-cc88-39b6-941c-c39e959483dd,2000,1,-1,0,-1,0,London,United Kingdom,0,...,False,,54,False,,False,,,,1531325778000
21,1c4f3f4f-cc88-39b6-941c-c39e959483dd,2000,1,-1,0,-1,0,London,United Kingdom,0,...,False,"london, united kingdom",54,False,,False,,,,1531325778000
22,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,,,True,,False,,,,1532991790000
23,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,,,True,,False,,,,1532991790000
24,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,,,True,,False,,,,1532991790000
25,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,,,True,5,False,,,,1532991790000
26,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,,,False,,False,,,,1532991790000
27,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,"maastricht area, netherlands",561,False,,False,,,,1532991790000
28,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,,,True,,False,,,,1532991790000
29,ad1d54bd-1b53-3152-8457-cc86eed32fb2,1976,2,-1,0,-1,0,Utrecht,Netherlands,5,...,False,who knows where,,False,,False,,,,1532991790000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,9e07a212-e02b-33f0-a2cf-61c1212b9047,1961,2,-1,0,-1,0,Oslo,Norway,6,...,False,oslo,,False,,False,,,,1530738117000
72,9e07a212-e02b-33f0-a2cf-61c1212b9047,1961,2,-1,0,-1,0,Oslo,Norway,6,...,False,aker brygge oslo,,False,,False,,,,1530738117000
73,9e07a212-e02b-33f0-a2cf-61c1212b9047,1961,2,-1,0,-1,0,Oslo,Norway,6,...,False,,,False,,False,,,,1530738117000
74,9e07a212-e02b-33f0-a2cf-61c1212b9047,1961,2,-1,0,-1,0,Oslo,Norway,6,...,False,oslo,,False,,False,,,,1530738117000
75,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,,True,4,False,,,,1509261149000
76,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,,False,,False,,,,1509261149000
77,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,,False,,False,,,,1509261149000
78,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,561,False,,False,,,,1509261149000
79,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,561,False,,False,,,,1509261149000
80,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,,False,,False,,,,1509261149000
81,ce509faf-8f4e-3b72-88cc-4814671cea19,1983,2,-1,0,-1,0,,Argentina,4,...,False,,,False,,False,,,,1509261149000
82,3742434a-86bb-3f38-ac4a-5e7254524318,1979,0,-1,0,-1,0,,Switzerland,5,...,False,,,True,1,False,,,,1516103962000
83,3742434a-86bb-3f38-ac4a-5e7254524318,1979,0,-1,0,-1,0,,Switzerland,5,...,False,,,True,5,False,law,Social Sciences,,1516103962000
84,3742434a-86bb-3f38-ac4a-5e7254524318,1979,0,-1,0,-1,0,,Switzerland,5,...,False,,54,False,,False,,,,1516103962000
85,3742434a-86bb-3f38-ac4a-5e7254524318,1979,0,-1,0,-1,0,,Switzerland,5,...,False,,,False,,False,,,,1516103962000
86,3742434a-86bb-3f38-ac4a-5e7254524318,1979,0,-1,0,-1,0,,Switzerland,5,...,False,,,False,,False,,,,1516103962000
87,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,True,,False,,,,1502850899000
88,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,True,,False,,,,1502850899000
89,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,False,,False,,,,1502850899000
90,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,True,,False,,,,1502850899000
91,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,False,,False,,,,1502850899000
92,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,False,,False,,,,1502850899000
93,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,52,False,,False,,,,1502850899000
94,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,False,,False,,,,1502850899000
95,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,52,False,,False,,,,1502850899000
96,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,True,5,False,,,,1502850899000
97,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,True,,,False,,False,,,BBG000DPXJ29,1502850899000
98,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,False,,False,,,,1502850899000
99,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,54,False,,False,,,,1502850899000
100,ab33a6b7-37ca-364d-8487-eb841f78ee11,1978,2,-1,0,-1,0,Perpignan (Perpinyà),France,5,...,False,,,False,,False,,,,1502850899000

In [46]:
# Get an example.
entry = samples_lst[5]
for i in range(len(entry)):
    print("[Column {}] ".format(i)+entry[i])

[Column 0] ed3c50a8-d2d3-3809-9d2a-0f53574560aa
[Column 1] 1980
[Column 2] 2
[Column 3] Accounting and Auditing
[Column 4] 0.9292892909340925
[Column 5] Industrial Management
[Column 6] 0.00825650305491638
[Column 7] Paris
[Column 8] France
[Column 9] 5
[Column 10] False
[Column 11] 2012-10-01
[Column 12] True
[Column 13] 2016-07-01
[Column 14] True
[Column 15] False
[Column 16] 1369
[Column 17] Internal Auditor,internal auditor
[Column 18]
[Column 19] SYSTRA
[Column 20] systra
[Column 21]
[Column 22] FRANCE
[Column 23] False
[Column 24] paris area, france
[Column 25] 48
[Column 26] False
[Column 27]
[Column 28] False
[Column 29]
[Column 30]
[Column 31]
[Column 32] 1525765406000

# Aggregate hiring/firing to the firm-by-date level.

In [66]:
# Read, Identify & Aggregate.
empl_file = r"../deloitte_pwc.csv"

## Initialize.
career_lst = [] # Will contain the entries for the same person.
person_this = None
profile_this = None

## Iterate.
with open(empl_file,"rb") as f:
    reader = csv.reader(f,encoding='utf-8',escapechar='',delimiter='\t')
    for idx, entry in enumerate(itertools.chain(reader,[None]*33)):
        if idx == 1000:
            break
        if person_this != entry[0]:
            if career_lst != []:
                ### Analyze.
                career_df = pd.DataFrame(career_lst)
                print(career_df[[0,1,2,3,4,10]])
                print(profile_this)
            ### Re-initialize.
            person_this = entry[0]
            profile_this = entry[1:11]
            career_lst = []
        ### Record this entry.
        if profile_this[2] == 'Accounting and Auditing' and entry[26] == 'False': # only consider accountants.
            career_lst.append(entry[11:29])

           0      1           2      3      4  10
0  2004-09-01   True  2005-06-01   True  False
1  2006-07-01   True  2006-11-01   True  False  P
2  2007-01-01   True  2012-10-01   True  False  P
3  2012-10-01   True  2016-07-01   True  False
4  2017-01-01  False        None  False   True
['1980', '2', 'Accounting and Auditing', '0.9292892909340925', 'Industrial Management', '0.00825650305491638', 'Paris', 'France', '5', 'False']
           0      1           2      3      4         10
0  2001-01-01  False  2001-12-01  False  False  TIME_OFF
1  2002-09-01   True  2003-02-01   True  False         D
2  2003-02-01   True  2004-07-01   True  False         D
3  2004-09-01   True  2005-02-01   True  False         D
4  2005-09-01   True  2008-09-01   True  False         D
5  2008-08-01   True  2013-07-01   True  False         D
6  2013-07-01   True  2016-11-01   True  False
7  2016-11-01   True  2017-04-01   True  False
8  2017-04-01   True        None  False   True
['1978', '2', 'Accounting and Auditing', '0.8957566669028466', 'Personal Coaching', '0.042733879123011055', 'Amsterdam', 'Netherlands', '2', 'False']
           0      1           2      3      4         10
0  2007-08-01   True  2008-08-01   True  False         D
1  2008-08-01   True  2011-01-01   True  False
2  2011-10-01   True  2013-01-01  False  False
3  2013-01-01  False  2018-11-01  False   True  TIME_OFF
['1983', '2', 'Accounting and Auditing', '0.5491315417813527', 'Technical Product Management', '0.32903321675382363', '', 'Ukraine', '4', 'False']
           0     1           2      3      4  10
0  2011-08-01  True  2014-10-01   True  False  P
1  2014-10-01  True  2016-06-01   True  False  P
2  2016-07-01  True        None  False   True  P
['1986', '2', 'Accounting and Auditing', '0.5873120196539598', 'Administration', '0.09050188814473296', '', 'Saudi Arabia', '6', 'False']
           0      1           2      3      4         10
0  2014-05-01   True  2014-07-01   True  False         P
1  2015-01-01  False  2015-01-01  False  False
2  2016-01-01  False  2018-11-01  False   True  TIME_OFF
['1985', '1', 'Accounting and Auditing', '0.5668812616698283', 'Musical Production', '0.22211069052485877', '', 'Singapore', '4', 'False']
           0      1           2      3      4         10
0  2007-01-01  False  2007-12-01  False  False  TIME_OFF
1  2010-02-01   True  2011-02-01   True  False       CBA
2  2012-07-01   True  2015-07-01   True  False         P
3  2015-07-01   True  2016-03-01   True  False         P
4  2016-03-01   True  2016-05-01   True  False     ANZFF
5  2016-05-01   True  2017-08-01   True  False     ANZFF
6  2017-08-01   True        None  False   True     ANZFF
7  2018-04-01   True        None  False   True     ANZFF
['1988', '0', 'Accounting and Auditing', '0.9745356339385499', 'Business Development', '0.004164257274251099', 'Auckland', 'New Zealand', '4', 'False']
           0      1           2      3      4          10
0  2000-08-01   True  2003-06-01   True  False          P
1  2003-07-01   True  2007-07-01   True  False
2  2007-01-01  False        None  False   True  FREELANCE
3  2007-08-01   True  2008-09-01   True  False
4  2008-10-01   True  2009-12-01   True  False
5  2010-11-01   True        None  False   True
['1974', '2', 'Accounting and Auditing', '0.6607792964187522', 'Middle Management', '0.23174634368157984', 'Prague', 'Czech Republic', '6', 'False']
           0      1           2      3      4         10
0  2011-04-01   True  2012-06-01   True  False
1  2012-06-01   True  2013-06-01   True  False         D
2  2013-06-01   True  2014-08-01   True  False
3  2014-01-01  False  2016-01-01  False  False
4  2016-01-01  False  2018-11-01  False   True  TIME_OFF
['1993', '2', 'Accounting and Auditing', '0.9963990099948993', 'Banking and Finance', '0.0022463081339376763', 'Tlalnepantla', 'Mexico', '0', 'False']
           0     1           2      3      4         10
0  1996-06-01  True  2001-06-01   True  False
1  2002-01-01  True  2006-12-01   True  False
2  2009-10-01  True  2015-02-01   True  False         D
3  2015-06-01  True  2016-03-01   True  False  0611192D
4  2016-03-01  True  2016-09-01   True  False  0611192D
5  2016-09-01  True        None  False   True  0611192D
['2000', '0', 'Accounting and Auditing', '0.8907883113646531', 'Manufacturing and Process Management', '0.035617740307793494', '', 'Pakistan', '0', 'False']
           0     1           2      3      4         10
0  2010-07-01  True  2010-08-01   True  False
1  2011-07-01  True  2011-09-01   True  False
2  2012-03-01  True  2012-06-01   True  False
3  2012-09-01  True  2014-04-01   True  False         D
4  2014-12-01  True  2016-03-01   True  False
5  2016-03-01  True  2017-03-01   True  False  TIME_OFF
6  2017-04-01  True        None  False   True
['1986', '0', 'Accounting and Auditing', '0.28267241081173555', 'Business Development', '0.19354419610238915', 'Istanbul', 'Turkey', '4', 'False']
           0      1           2      3      4         10
0  2009-02-01   True  2010-03-01   True  False
1  2010-03-01   True  2012-02-01   True  False
2  2012-01-01  False  2013-01-01  False  False         D
3  2013-12-01   True  2014-05-01   True  False
4  2014-05-01   True  2015-08-01   True  False
5  2015-11-01   True  2016-11-01   True  False
6  2016-11-01   True  2018-11-01  False   True  TIME_OFF
['1980', '2', 'Accounting and Auditing', '0.8513981635289203', 'Industrial Management', '0.026953546081617756', '', 'Ukraine', '5', 'False']
           0      1           2      3      4         10
0  2002-01-01  False  2003-01-01  False  False
1  2003-01-01  False  2004-12-01  False  False  TIME_OFF
2  2005-04-01   True  2007-11-01   True  False
3  2008-01-01   True  2013-04-01   True  False         P
4  2013-04-01   True  2015-07-01   True  False     AGO^F
5  2015-07-01   True        None  False   True       PUK
['1979', '1', 'Accounting and Auditing', '0.997666065237486', 'Middle Management', '0.0005659609572932457', 'New York City', 'United States', '5', 'False']
           0      1           2      3      4        10
0  2006-01-01  False  2013-08-01   True  False  MISSING
1  2013-09-01   True        None  False   True        D
['1980', '1', 'Accounting and Auditing', '0.9862565937114892', 'Legal', '0.005657587495954019', '', 'Finland', '5', 'False']
           0     1           2      3      4  10
0  2014-06-01  True  2014-08-01   True  False  P
1  2015-03-01  True  2015-03-01   True  False
2  2016-08-01  True  2017-07-01   True  False
3  2017-10-01  True        None  False   True  P
['1989', '1', 'Accounting and Auditing', '0.3147578191566211', 'Administration', '0.2695282329713993', '', 'United States', '5', 'False']
           0     1           2      3      4    10
0  2006-09-01  True  2007-11-01   True  False  RDY
1  2007-11-01  True  2009-11-01   True  False
2  2009-12-01  True  2015-11-01   True  False    D
3  2015-11-01  True        None  False   True
['2000', '2', 'Accounting and Auditing', '0.9944436526645705', 'Banking and Finance', '0.004842929775503399', 'Hyderabad', 'India', '0', 'False']
           0     1           2      3      4    10
0  2003-09-01  True  2006-12-01   True  False    P
1  2007-01-01  True  2009-11-01   True  False   LB
2  2009-11-01  True  2011-07-01   True  False   LB
3  2011-08-01  True  2012-03-01   True  False   LB
4  2012-03-01  True  2013-02-01   True  False  CAH
5  2013-02-01  True  2015-03-01   True  False  CAH
6  2015-03-01  True        None  False   True  CAH
['1976', '2', 'Accounting and Auditing', '0.804975554556033', 'Business Development', '0.13345302340007353', 'Columbus', 'United States', '6', 'False']
           0      1           2      3      4         10
0  2012-01-01  False  2012-01-01  False  False
1  2013-01-01  False  2013-12-01   True  False  TIME_OFF
2  2014-01-01   True  2014-12-01   True  False
3  2014-12-01   True  2017-01-01   True  False         P
4  2017-01-01   True  2017-12-01   True  False  TIME_OFF
5  2018-01-01   True  2018-01-01   True  False
6  2018-01-01  False        None  False   True
['1988', '1', 'Accounting and Auditing', '0.32188773392342124', 'Legal', '0.1868987931306071', '', 'United States', '4', 'True']
           0     1           2      3      4    10
0  1997-09-01  True  1999-06-01   True  False    P
1  1999-06-01  True  2001-05-01   True  False  CBK
2  2002-01-01  True  2006-08-01   True  False
3  2007-06-01  True        None  False   True  SNE
['1965', '1', 'Accounting and Auditing', '0.7736001054357918', 'Video and Film Production', '0.10239853196202019', 'Los Angeles', 'United States', '5', 'False']
           0     1           2      3      4     10
0  2004-07-01  True  2008-07-01   True  False     P
1  2008-07-01  True  2010-07-01   True  False
2  2010-07-01  True  2013-10-01   True  False  NBTB
3  2013-10-01  True  2017-09-01   True  False
4  2017-09-01  True        None  False   True
['1982', '1', 'Accounting and Auditing', '0.9141861352965229', 'Human Resources (Junior)', '0.04326930870913296', 'Albany', 'United States', '4', 'False']